<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="title" content=""/>
    <meta name="author" content=""/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/highlight.css" />
    <!-- Bootstrap -->
    <link href="css/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <h1 class="title"></h1>
    <center>
      <h2>Highlight.js</h2>
      <h1>Editor</h1>
    </center>
    <div id="outline-container-2" class="outline-2">
      <p>
        The above code would create two <code>TimeStamp</code> objects, one representing time 4, the other representing time 2.
        Let's assume that smaller numbers represent earlier points in time.
      </p>
      <p>
        <b>Question 1</b>: Highlight literals of the following types: int (red), double (blue), float (green)
      </p>
      <div class="highlight-creator clearfix">
        <input type="text" class='simple_color' value='#ff0000'/>
        <div id="editor">public class C {
      
  public void m() {
    int i = i + 5 + ((int)5.0) + ((int)5f);
  }
}
        </div>
        <div class="inspector clearfix">
          <ul id="rangestext"></ul>
          <div class="btn-group pull-right">
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
            Export as
            <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>Ranges</li>
              <li>String Instances</li>
              <!-- dropdown menu links -->
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script src="js/lib/ace/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/lib/jquery/jquery.js"></script>
    <script src="js/lib/simplecolor/jquery.simple-color.js" type="text/javascript"></script>
    <script src="css/bootstrap/js/bootstrap.min.js"></script>   
    <script src="js/highlight.js"></script>
  </body>
</html>