.ace_highlight {
    position: absolute;
    z-index: 4;
}

.bootstrapred { background-color: #d9534f;}
.blue { background-color: #428bca;}
.green { background-color: #5cb85c;}
.orange { background-color: #f0ad4e;}
.darkred { background-color: #8b0000;}
.gold { background-color: #ffd700;}
.darkkhaki { background-color: #bdb76b;}
.navy { background-color: #000080;}
.mediumorchid { background-color: #ba55d3;}
.lightgreen { background-color: #90ee90;}
.magenta { background-color: #ff00ff;}
.red { background-color: #ff0100;}

.bootstrapred-1 {
  background-color: #dacbca;
}
.bootstrapred-2 {
  background-color: #d0b0af;
}
.bootstrapred-3 {
  background-color: #c89290;
}
.bootstrapred-4 {
  background-color: #c4716e;
}
.bootstrapred-5 {
  background-color: #c24d49;
}
.bootstrapred-6 {
  background-color: #b53530;
}
.bootstrapred-7 {
  background-color: #9f2521;
}
.bootstrapred-8 {
  background-color: #851814;
}
.bootstrapred-9 {
  background-color: #680d0a;
}
.bootstrapred-10 {
  background-color: #490604;
}



